<h1>Advanced Placement Exam Discussions</h1>

<ul id="convos">
	<%= render @convos %> 

<!-- if admin, will see delete button here	 -->
</ul>

<%= link_to "Start a new conversation", new_convo_path %>
