<% if @subject %>
<% provide(:header, @subject.name)%>
<% end %>
<%#= render 'layouts/sidebar' , :popular => @popular %>
<section id="convos">
	<%= render @convos %> 

</section>

<% if @subject %>
<%= link_to "Start a new conversation", new_convo_path(:subject_name => @subject.name) %>
<% else %>
<%= link_to "Start a new conversation", new_convo_path %>
<% end %>


<%= will_paginate @convos, previous_label: h("<"), next_label: h(">") %>

