<% if @subject %>
<% provide(:header, @subject.name)%>
<% end %>
<%#= render 'layouts/sidebar' , :popular => @popular %>
<section id="convos">
	<%= render @convos %> 

</section>

<%= link_to "Start a new conversation", new_convo_path %>



<%= will_paginate @convos, previous_label: h("<"), next_label: h(">") %>

