<ul class="breadcrumb">
  <li>
		<%=link_to "User statistics", user_url(user.id), :class => "divider"%>/
  </li>
  <li>
		<%=link_to "Track user", user_activity_url, :class => "divider"%>/
  </li>
</ul>