<div class="user" data-post-id="<%= @user.id %>">

	<%= render 'shared/merits'%>
	
	<span class = "merits">
	    <%= user.merits %>
	</span>

<!-- User box height/width to be set by users css -->

</div>