<div class="user" data-post-id="<%= user.id %>">

	<%= user.name %>
	<%= render 'shared/merits', :merits => user.merits %>
	<!-- Add everything else about users here -->

<!-- User box height/width to be set by users css -->

</div>