<section class= "docs">
	<% item.docs.each do|doc|%>
	<%= doc.name %>
	<% end %>
	<% # @item.documents do |doc|, doc.description on hover ...%>
	Document 1 | Edit | Delete<br />
	Document 2 | Edit | Delete<br />
	
<%= link_to "Upload document", new_convo_doc_url(item.id) %>

</section>

<script>

</script>