<!-- Add alternate image to create animation -->
<span class = "upmerit" >
	<i class="icon-thumbs-up"></i>
	<%= image_tag "upmerit.jpeg", :size => '20x20', :alt => "Give credit where credit is due" %>
	</span>
<span class = "demerit" >
		<%= image_tag "demerit.jpeg", :size => '20x20', :alt => "Demerit"%>
	</span>