<% provide(:title, 'About')%>
<h1>About Us</h1>
<p>
	
	Contribute to our <strong>forums</strong>
	Visit our patented <strong>WhizQuiz</strong> for practice exam material.
	Our <strong>lessons</strong> will make you a whiz in no time
  </p>
