<!-- Use section anchors for this page... -->


<h2> Merits </h2>
Merits are points you earn for contributing to the WhizAP's sacred QUEST FOR KNOWLEDGE

You earn merits for logging in, starting conversations, and posting comments:
<ul>
<li> Earn twenty merits everyday you log in </li>
<li> Earn 10 merits every time you start a conversation </li>
<li> Earn 5 merits every time you post a comment </li>
<li> Earn 1 merit for every 2 thumbs up (upmerits!) granted to one of your posts or comment </li>
</ul>

You can also lose merits by:
<ul>
	<li> Giving merit to others: when you thumbs up (upmerit) a conversation or post, you lose one merits</li>
	<li> Taking merits from others:when you thumbs down (demerit) a conversation or post, you lose two merits  </li>
</ul>

These rules are meant to encourage people to contribute, and to be thoughtful about rewarding (or punishing) the contributions of others...

<h2>Rankings</h2>

Your rank is based on the number of merits you have earned, per the following rules:

0 - 250 merits: "Tabula Rasa"
250 - 500 merits: "Pupil"
500 - 1000 merits: "Scholar"
1000 - 3000 merits: "Sage"
3000 - 5000 merits: Elder
> 5000 merits: Illuminati




