<h1>Advanced Placement <%= @subject.name %> Forum</h1>

<ul id="convos">
	<%= render @subject.convos %> 
	
	<!-- if admin, will see delete button here	 -->

</ul>

<%= link_to "Start a new conversation", new_convo_path(:subject_id => @subject.id) %>