//Add latest post
$("#post_list").append('<%= escape_javascript(render "post" ,:post => @post) %>');

//Temporarily edit post
 $("#post_list").append("<div class='temp_edit'><a href='<%= edit_post_url(@post.id) %>'>Edit</a></div>");
 $('.temp_edit').delay(3000).fadeOut(300);

//Clear form field
$('#post_content').val(null);
$('#post_title').val(null);
