<h1> Advanced Placement Forum Posts</h1>

	<%= render 'convos/convo', :convo => @convo %>

<ul id="posts">
	<%= nested_posts @posts.arrange(:order => :created_at) %> 

<!-- if admin, will see delete button here	 -->

</ul>

<div id="new_input">
<%= render 'new' %>
</div>

<%= will_paginate %>