<h1> Advanced Placement Forum Posts</h1>


<ul id="posts">
	<%= nested_posts @posts.arrange(:order => :created_at) %> 

<!-- if admin, will see delete button here	 -->

</ul>

<%= will_paginate %>

<div id="new_input">
<%= render 'new' %>
</div>


<script>

$('.upmerit').click(function(){
	meritDiv=$(this).siblings('.merits');
	var id = meritDiv.parent().data('post-id');
			var merits = parseInt(meritDiv.text());
		
		  merits += 1;
		
			$.ajax({
				url: "/posts/"+id,
				type: "POST",
				dataType: "json",
				data: { _method: "PUT", id: id, post: { merits: merits } }
			}).success(function(){
				meritDiv.text(merits);
			}).fail(function(data){
				alert("Sorry, request failed");
			});
});

$('.demerit').click(function(){
	meritDiv=$(this).siblings('.merits');
	var id = meritDiv.parent().data('post-id');
			var merits = parseInt(meritDiv.text());
		
		  merits -= 1;
		
			$.ajax({
				url: "/posts/"+id,
				type: "POST",
				dataType: "json",
				data: { _method: "PUT", id: id, post: { merits: merits } }
			}).success(function(){
				meritDiv.text(merits);
			}).fail(function(data){
				alert("Sorry, request failed");
			});
});

</script>