<div id="convos">
<%= render 'convos/convo', :convo => @convo %>
</div>

<section id="posts">
	<%= nested_posts @posts.arrange(:order => :created_at) %> 

</section>

<div id="new_input">
<%= render 'new' %>
</div>

<%= will_paginate %>