// Place all the styles related to the docs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.docs{
	border: 1 px solid black;
	background: teal;
	float: right;
	width:20%;
	height: 100%;
}

.attachment_thumbnail {
	float: left;
	margin: 20px 10px 20px 0;
		img {
			border: solid 1px #ddd;
		}
		p.attachment_caption {
			text-align: center;
		}
}

.doc_image{
	height:25px;
	width: 25px; 
}