// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#posts{

}

.post {
	border: 1px solid gray;
	margin: -1;
	padding: 10px;
	overflow: hidden;
	
	.title{
		display:block;
	}
	
	.post_text{
		width:60%;
		margin-left: auto;
		margin-right: auto;
	}

	.user {
		float: left;
		width: 15%;
		}

}

.post_content {
	height: auto;
	overflow: hidden;
	float: left;
}



.header {
	float: left;
	margin: 5px auto;
}

.merits{
	color:red;
}

.nested_posts{
	margin-left: 25px;
}

.nested_posts .nested_posts .nested_posts .nested_posts{
	margin-left: 0px;
}

.linearBg2 {
  /* fallback */
  background-color: #E6F1F5;
/*  background: url(images/linear_bg_2.png);*/
  background-repeat: repeat-x;
  
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E6F1F5), to(#ffffff));
  
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #ffffff, #E6F1F5);
  
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #ffffff, #E6F1F5);
  
  /* IE 10 */
  background: -ms-linear-gradient(top, #ffffff, #E6F1F5);
  
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #ffffff, #E6F1F5);
}




#post_form {
	overflow: hidden;
	padding: 10px;
	margin: 10px;
	width: 100%;
	
	form{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		
		#post_title {
			font-size: 18px;
			height: 20px;
			line-height: 20px;
			padding: 10px;
			width:90%;
		}
		
		textarea{
			padding: 10px;
			width: 90%;
		}
		
	}
	
	.post-submit {
		width: 150px;
		float: right;
		margin-right: 10px;
	}

	.post-cancel {
		width: 60px;
		float: right;
	}

	.post_actions {
		float: right;
	}
}

