// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post{
	background:blue;
	border: 1px;
	margin: 5px;
}

.post2{
	background:red;
	border: dotted 1px;
	margin: 5px;
}

.merits{
	color:red;
}

.nested_posts{
	margin-left: 25px;
}

.nested_posts .nested_posts .nested_posts .nested_posts{
	margin-left: 0px;
}