// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user{
	height: 150px;
	width: 150px;
	border: 1px;
	padding: 1px;
	margin: 5px;
	background:orange;
}

.user_image{
	height: 50px;
	width: 50px;
}

.user_merits{
	
}