 <div class="row">
		<div class="tabs">
	      <ul>			
	        <%= nav_link "All", convos_url %>
					<%= nav_link 'Calculus', convos_url(:subject_name => "Calculus")%>
	        <%= nav_link 'Economics', convos_url(:subject_name =>"Economics") %>
	        <%= nav_link 'History', convos_url(:subject_name => "History") %>
	      </ul>
	    </div>
	</div>
