<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "WhizAP", root_path, id: "logo" %>

      <nav>
				<form class="navbar-search">
					<input type="text" class="span2" placeholder="Search WhizAP">
					</form>
        <ul class="nav pull-right">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							Forums
							<b class="caret"> </b>
						</a>
							<ul class="dropdown-menu">
								<li><a href="#">Math and Science</a> | <a href="#">Social Science</a> | <a href="#">History and Religion</a> | Language   </li>
							</ul>
						</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							Account
							<b class="caret"> </b>
						</a>
							<ul class="dropdown-menu">
								<li><a href="#"><i class="icon-user"></i>Profile</a></li>
								<li><a href="#"><i class="icon-remove"></i>Logout</a></li>
							</ul>
						</li>
          <li><%= link_to "Sign in", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>